.choc-loved {
  padding: 43px 20px 72px 20px;
  .swiper {
    height: 275px;
  }
  .swiper-wrapper {
    position: relative;
    height: 242px;
    padding-top: 40px;
    border: none;
  }
  .swiper-slide {
    height: 200px;
    padding: 0px 20px 42px 20px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
  .button {
    border-radius: 100px;
    border-style: solid;
    border-color: getColor("primary");
    border-width: 1px;
    padding: 12px 28px 12px 28px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: none;
    color: getColor("primaryText");
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: getColor("primary");
      color: getColor("secondaryText");
    }
  }
}
.choc-loved__title {
  margin: 0;
  margin-bottom: 98px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-weight: 600;
  text-transform: uppercase;
  color: getColor("primaryText");
}

.choc-loved__img {
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.choc-loved__swiper-title {
  margin: 0;
  margin-top: 58px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
  color: getColor("primaryText");
}
.choc-loved__swiper-discription {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .choc-loved {
    padding: 100px 32px;
  }
  .swiper-slide {
    padding: 0px 24px 42px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .choc-loved {
    padding: 51px 32px 128px 32px;
  }
  .swiper-slide {
    padding: 0px 24px 42px 24px;
  }
}
