.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  padding-top: 20px;
}
.header__logo {
  display: flex;
  color: getColor("primaryText");
  font-weight: 700;
}

.header__logo--normal {
  margin-right: 4px;
}
.header__logo--italic {
  font-style: italic;
}
.header__nav,
.header__social-list {
  display: none;
}
.header__menu {
  padding: 3px;
  cursor: pointer;
}
// .header:hover {
//   .menu-mobile {
//     transform: translateX(0%);
//   }
// }
@media screen and (min-width: 768px) {
  .header {
    padding: 0 32px;
    padding-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0 32px;
    padding-top: 24px;
    align-items: center;
  }
  .header__menu {
    display: none;
  }
  .header-nav__list {
    display: flex;
    margin: 0;
    gap: 24px;
  }
  .header__logo {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
  }

  .header__nav {
    display: block;
  }
  .header__social-list {
    display: flex;
    margin: 0;
    gap: 18px;
  }
  .header__social-block-svg {
    stroke: getColor("primaryText");
    fill: getColor("secondaryText");
  }
  .header-nav__link {
    font-weight: 500;
    color: getColor("primaryText");
  }
}
