.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  padding-top: 20px;
}
.header__logo {
  display: flex;
  color: getColor("primaryText");
  font-weight: 700;
}

.header__logo--normal {
  margin-right: 4px;
}
.header__logo--italic {
  font-style: italic;
}
.header__menu {
  padding: 3px;
  cursor: pointer;
}
// .header:hover {
//   .menu-mobile {
//     transform: translateX(0%);
//   }
// }
